

<div ng-include="'components/navbar/navbar.html'"></div>
<link rel="stylesheet" type="text/css" href="chat.css" media="screen" />
    
    <!-- <h1 class="chatttile">Chat </h1> -->
<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h3>Users in Room</h3>
      
      <ul id="users" class="list-unstyled">
        <li ng-repeat="user in users"> {{user.name}} </li>
      </ul>
      
    </div>
  </div>
</div>
 -->

  <div id="chat" class="container-fluid">
      <div class="div">
        <ul id="messages" class="list-unstyled chatmessage" >
          <li ng-repeat="message in messages"> {{message}}  </li>
        </ul>
      </div>
      <div>
      
      <div class="col-lg-3">
        <form id="new-message" ng-submit="say()">
          <input type="text" placeholder="Type message here" ng-model="newMessage" class ="form-control"/>
          </div>
          <button class="btn btn-default" type="submit">Submit</button>
        </form>
      <div>
  </div>
  






  <div data-ng-controller="ChatCtrl" data-ng-init="loadUsers()"></div>


