
/* CUSTOM CSS - R
  Do not delete
*/

/*.flex-viewport {
  overflow: shown;
}
*/
/* Header on home page */
.header-home h1 {
  font-color: white !important;
  font-family: 'Poiret One';
  font-weight: 300;
  font-size: 30px;
}

.grey-back {
  background-color: #d8d8d8;
}

.text-logo h3 {
  font-color: white !important;
  font-family: 'Poiret One';
  font-weight: 300;
  font-size: 20px;
}

.header-home-h5 {
  position: absolute;
}

.grey-back img {
  margin-left: 4%;
}

.home-div-lg h2, h4, h6 {
  margin-left: 5%;
  line-height: 30px;
}

.home-div-lg h6 {
  color: #B9090B;
  font-size: 15px;
}

.header-home-h5 h5 {
  margin-top: -80%;
  /*margin-top: 35%;*/
  /*position: relative;*/
  color: white !important;
  font-family: 'Poiret One';
  font-weight: 300;
  font-size: 40px;
}

/* do not remove this hackey css! */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  clear: both;
  text-align: center;
}

h4, h5, h3, h2, h1, h6, p {
  font-family: "Roboto";
  font-weight: 300;
}

.header h3 {
  font-family: "Poiret One";
}


/* IMAGE SHOW ON INDIVIDUAL MOVIE PAGE */

.hover-show img:last-child {
  display:none
 }
.hover-show:hover img:first-child {
  display:none
}
.hover-show:hover img:last-child {
   display:inline-block
 }

/* R - Float Classes */
.float-right {
  float: right;
}

.float-left {
  float: left;
}

.div-height-md {
  height: 25%;
}

.font-default {
  font-family: "Roboto";
  font-weight: 300;
}

/* VIDEO TEXT */
#video {
  /*position: relative;*/
  top: 0px;
  left: 0px;
  max-width: 100%;
 /* min-height: 100%;*/
  height: 400;
  z-index: -1000;
  overflow: hidden;
}
.white-color {
  background-color: white;
}
.navbar-custom {
  background-color: #fff;
  color: black;
}

.home-div-lg {
  height: 10%;
  position: relative;
  z-index: 100;
}

/* Video End */

.header-nav {
  position: fixed;
  font-family: 'Poiret One';
  color: white;
  padding-left: 3%;
}

.header-nav a, a:link, a:visited, a:active, a:visited  {
  font-family: 'Poiret One';
  color: white;
  text-decoration: none;

}


/* Landing Page Overlay Text */
.overlay-text {
  padding-top: 20%;
  padding-left: 27%;
  color: black;
}

.overlay-text h1 {
  color: #01011c;
  font-size: 50px;
  color: white;
  font-family: 'Poiret One';
}


/* Extra Button Styling */
/* We're still using foundation for buttons */
.button-main-div {
  padding-left: 43%;
  color: #01011c;
}


.header-decoration-style {
  font-family: 'Poiret One';
}

.header-h2 h2 {
  font-color: black;
}