
/* CUSTOM CSS - R
  Do not delete
*/


/* Header on home page */
.header-home h1 {
  font-color: white !important;
  font-family: 'Poiret One';
  font-weight: 300;
  font-size: 30px;
}

.text-logo h3 {
  font-color: white !important;
  font-family: 'Poiret One';
  font-weight: 300;
  font-size: 20px;
}

.header-home-h5 h5 {
  color: white !important;
  font-family: 'Poiret One';
  font-weight: 300;
  font-size: 40px;
}

/* do not remove this hackey css! */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  clear: both;
  text-align: center;
}

h4, h5, h3, h2, h1, h6, p {
  font-family: "Roboto";
  font-weight: 300;
}

.header h3 {
  font-family: "Poiret One";
}


/* IMAGE SHOW ON INDIVIDUAL MOVIE PAGE */

.hover-show img:last-child {
  display:none
 }
.hover-show:hover img:first-child {
  display:none
}
.hover-show:hover img:last-child {
   display:inline-block
 }

/* R - Float Classes */
.float-right {
  float: right;
}

.float-left {
  float: left;
}

.div-height-md {
  height: 25%;
}

/* VIDEO TEXT */
#video {
  position: fixed;
  top: 0px;
  left: 0px;
  min-width: 100%;
  min-height: 25%;
  height: auto;
  z-index: -1000;
  overflow: hidden;
}

.navbar-custom {
  background-color: #fff;
  color: black;
}

/*.home-div-lg {
  height: 10%;
  position: absolute;
}*/

/* Video End */

.header-nav {
  position: fixed;
  font-family: 'Poiret One';
  color: white;
  padding-left: 3%;
}

.header-nav a, a:link, a:visited, a:active, a:visited  {
  font-family: 'Poiret One';
  color: white;
  text-decoration: none;

}


/* Landing Page Overlay Text */
.overlay-text {
  padding-top: 20%;
  padding-left: 27%;
  color: black;
}

.overlay-text h1 {
  color: #01011c;
  font-size: 50px;
  color: white;
  font-family: 'Poiret One';
}


/* Movie Quiz Design */




/* Extra Button Styling */
/* We're still using foundation for buttons */
.button-main-div {
  padding-left: 43%;
  color: #01011c;
}


.header-decoration-style {
  font-family: 'Poiret One';
}

.header-h2 h2 {
  font-color: black;
}